@font-face {
  font-family: 'Montserrat';
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  src: url('/frontend/src/app/fonts/Montserrat-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url('/frontend/src/app/fonts/Montserrat-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url('/frontend/src/app/fonts/Montserrat-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'Rubik';
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  src: url('/frontend/src/app/fonts/Rubik-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Rubik';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url('/frontend/src/app/fonts/Rubik-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Rubik';
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url('/frontend/src/app/fonts/Rubik-Medium.woff2') format('woff2');
}
